body
{
    font-family: Verdana;
    font-size: 10pt;
    background-image: url(images/background.png);
    background-repeat: repeat;
    padding: 0px;
    margin: 0px;
}

#topleftcorner
{
    width: 6px;
    height: 6px;
    background-image: url(images/corner_top_left.png);
}

#toprightcorner
{
    width: 6px;
    height: 6px;
    background-image: url(images/corner_top_right.png);
}

#topborder
{
    height: 6px;
    width: 476px;
    background-image: url(images/border_top.png);
}

.leftborder
{
    width: 6px;
    height: 106px;
    background-image: url(images/border_left.png);
    background-repeat: repeat-y;
}

.rightborder
{
    width: 6px;
    background-image: url(images/border_right.png);
    background-repeat: repeat-y;
}

#topLeft
{
    background-color: #FFF;
    background-image: url(images/start_logo.png);
    height: 112px;
    background-position: 10px;
    background-repeat: no-repeat;
    vertical-align: bottom;
    margin: 0px 0px 0px 2px;
}

#topRight
{
    height: 112px;
    width: 250px;
    background-position: right top;
    background-repeat: no-repeat;
    float: right;
    vertical-align: bottom;
    margin: 5px;
}

#topCenter
{
    height: 112px;
    width: 220px;
    float: right;
    margin: 5px;
}
#content
{
    background-color: #FFF;
    width: 100%;
    height: 100%;
}

#rightImage
{
    background-image: url(images/chatWelcome.jpg);
    width: 106px;
    height: 219px;
    background-position: right top;
    background-repeat: no-repeat;
    text-align: right;
}

#bottomleftcorner
{
    width: 6px;
    height: 6px;
    background-image: url(images/corner_bottom_left.png);
}

#bottomrightcorner
{
    width: 6px;
    height: 6px;
    background-image: url(images/corner_bottom_right.png);
}

#bottomborder
{
    height: 6px;
    width: 476px;
    background-image: url(images/border_bottom.png);
}
